body {
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: white;
    color: rgba(67, 68, 85, 1);
   }

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

/* common */

.container {
    max-width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

header {
    background-color: white;
}
.logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logstudio {
    color: #2e2f42;
}
 .header-logo {
    padding: 24px 0;
    margin-right: 76px;
 }

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455

}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.company-contacts {
    letter-spacing: 0.02em;
    color: #434455;
}
.section-one {
    background-color: #2e2f42;
} 
   
.container-section-one {
    padding: 472px 188px;
    margin: auto;
}

.title-one {
font-size: 56px; 
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: white;
padding-bottom: 48px;
font-weight: 700;
font-size: 56px;
}

.type-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(77, 90, 229, 1);
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.type-button:hover,
.type-button:focus {
    background-color: #404BBF;
}

.container-section-two {
   padding-top: 120px;
   padding-bottom: 120px;
   margin-right: auto; 
   margin-left: auto;
}
.section-2-list {
    display: flex;
    gap: 24px;
    width: calc((100% - 3*24px)/ 4);
    width: 1128px;
    height: 104px;
}
.section-two-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 264px;
    height: 104px;
}
.title-two {
    padding-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.title-three {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-section-three {
   padding-top: 120px;
   padding-bottom: 120px;
   margin-right: auto; 
   margin-left: auto;
}
.container-section-three-list {
    display: flex;
    width: calc((100% - 3*24px)/ 4);
    width: 1128px;
    height: 104px;
    gap: 24px;
}

.section-three{
    background-color: #F4F4FD;
    height: 732px;
}

.our-team-list {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.our-team-item-descr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 232px;
    height: 56px;
}

.container-section-four {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-right: auto; 
    margin-left: auto;
    width: 1128px;
    height: 1000px;
}

.container-section-four-list {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 2*24px)/ 3);
    width: 1128px;
    height: 104px;
    column-gap: 24px;
    row-gap: 48px;
}

.our-portfolio-item-descr {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    border-left: 1px solid #E7E9FC;
    border-top: 0px;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.footer-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}
.foot {
    background-color:  #2e2f42; 
    height: 312px;
}
.logstudio-f {
    color: #f4f4fd;
}
.footer-paragraf {
    color: rgba(244, 244, 253, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}