body {
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color: white;
    color: rgba(67, 68, 85, 1);
   }

/* reset */

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

/* common */

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

header {
    background-color: white;
}
.logotype {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logstudio {
    color: #2e2f42;
}
 .header-logo {
    padding: 24px 0;
    margin-right: 76px;
 }

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.navigation-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}
.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455

}
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.company-contacts {
    letter-spacing: 0.02em;
    color: #434455;
}
.section-one {
    background-color: #2e2f42;
    padding: 188px 0;
} 
   
.container-section-one {
    margin: auto;
}

.title-one {
font-size: 56px; 
line-height: 1.07;
text-align: 